In [1]:
import pandas as pd
from sklearn import datasets, linear_model
from sklearn.model_selection import train_test_split
from matplotlib import pyplot as plt
import scipy

In [6]:
whc=pd.read_csv('F:/study/capstone project/capstone/train Data.csv')

In [7]:
whc.shape

(14644, 1379)

In [8]:
whc.head()

,id,release,n_0000,n_0001,n_0002,n_0003,n_0004,n_0005,n_0006,n_0007,...,c_1368,c_1369,c_1370,c_1371,c_1372,c_1373,c_1374,c_1375,c_1376,c_1377
0,11193,a,NaN,NaN,0.025449,NaN,NaN,0.368421,NaN,NaN,...,NaN,NaN,NaN,NaN,a,NaN,q,NaN,NaN,NaN
1,11382,a,NaN,NaN,0.031297,NaN,NaN,0.315789,NaN,NaN,...,NaN,NaN,a,NaN,a,NaN,NaN,NaN,NaN,NaN
2,16531,a,NaN,NaN,0.024475,NaN,NaN,0.342105,NaN,NaN,...,NaN,NaN,a,NaN,a,NaN,b,NaN,NaN,NaN
3,1896,a,NaN,NaN,0.041694,NaN,NaN,0.447368,NaN,NaN,...,NaN,NaN,NaN,NaN,a,NaN,NaN,NaN,NaN,NaN
4,18262,c,NaN,NaN,0.038120,NaN,NaN,0.315789,NaN,NaN,...,NaN,NaN,b,NaN,a,NaN,a,NaN,NaN,NaN

In [9]:
whc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14644 entries, 0 to 14643
Columns: 1379 entries, id to c_1377
dtypes: float64(332), int64(9), object(1038)
memory usage: 154.1+ MB

In [13]:
whc.isnull().sum()

id             0
release        0
n_0000     14625
n_0001     13884
n_0002       644
n_0003     14444
n_0004     14545
n_0005       650
n_0006     12127
n_0007     12842
n_0008     14637
n_0009     14580
n_0010     14592
n_0011     14641
n_0012      4477
n_0013     14364
n_0014     14107
n_0015     12689
n_0016     14135
n_0017     13562
n_0018     14640
n_0019       857
n_0020     13915
n_0021     14612
n_0022     14017
n_0023     14599
n_0024     14536
n_0025     13596
n_0026     14351
n_0027     13831
           ...
c_1348         2
c_1349     14643
c_1350     14616
c_1351     14589
c_1352     13677
c_1353     14575
c_1354     13151
c_1355     13766
c_1356     14635
c_1357     14516
c_1358     14640
c_1359     14603
c_1360     14643
c_1361      4442
c_1362     14417
c_1363      4554
c_1364     13316
c_1365     12687
c_1366     12705
c_1367     14641
c_1368     14639
c_1369     14561
c_1370     13925
c_1371     14642
c_1372         4
c_1373     13830
c_1374      8852
c_1375     13623
c_1376     14636
c_1377     11071
Length: 1379, dtype: int64

In [17]:
##create dataframe of all na values
issDf=pd.DataFrame(whc.isnull().sum())

In [18]:
##just for sake of simple calculation..reduce the numbers
issDf[0] = issDf[0]/14644

In [19]:
issDf.head()

                0
id       0.000000
release  0.000000
n_0000   0.998703
n_0001   0.948102
n_0002   0.043977

In [21]:
###drop the complete columns where total na values are more than threshold...here more than 5000 out of 14644.
whc=whc.dropna(thresh=6000, axis=1)
whc.shape

(14644, 237)

In [36]:
### here in train data..n and o values are numeric so mean method
#c values are character

for i in whc.columns.values:
    if i[0]=='n':
        whc[i]=whc[i].fillna(whc[i].mean())
    elif i[0]== ['c','o']:
        whc[i]=whc[i].fillna(whc[i].mode())
    else:
        pass

In [37]:
whc.isna().sum()

id         0
release    0
n_0002     0
n_0005     0
n_0012     0
n_0019     0
n_0034     0
n_0038     0
n_0047     0
n_0050     0
n_0052     0
n_0061     0
n_0064     0
n_0067     0
n_0075     0
n_0078     0
n_0083     0
n_0086     0
n_0091     0
n_0099     0
n_0100     0
n_0102     0
n_0108     0
n_0109     0
n_0110     0
o_0120     0
o_0125     0
o_0141     0
o_0144     0
o_0153     0
          ..
c_1213     0
c_1217     0
c_1223     0
c_1225     0
c_1227     0
c_1234     0
c_1236     0
c_1237     0
c_1238     0
c_1239     0
c_1244     0
c_1247     0
c_1252     0
c_1259     0
c_1267     0
c_1270     0
c_1282     0
c_1286     0
c_1316     0
c_1326     0
c_1328     0
c_1330     0
c_1333     0
c_1335     0
c_1343     0
c_1347     0
c_1348     0
c_1361     0
c_1363     0
c_1372     0
Length: 237, dtype: int64

In [ ]:
###df_n.fillna(values=df.mean())
##df_c.fillna(values=df.mode)

In [39]:
whc=whc.drop(["id","release"],axis=1)

KeyError: "['id' 'release'] not found in axis"

In [41]:
whc.head()

,n_0002,n_0005,n_0012,n_0019,n_0034,n_0038,n_0047,n_0050,n_0052,n_0061,...,c_1328,c_1330,c_1333,c_1335,c_1343,c_1347,c_1348,c_1361,c_1363,c_1372
0,0.025449,0.368421,0.292683,0.0,0.223881,0.193548,1,1,1,1,...,b,a,e,w,b,c,b,e,b,a
1,0.031297,0.315789,0.243902,0.0,0.104478,0.177419,1,1,1,1,...,b,a,e,q,b,c,b,e,b,a
2,0.024475,0.342105,0.304878,0.0,0.119403,0.290323,1,1,1,1,...,a,b,e,u,a,c,b,c,a,a
3,0.041694,0.447368,0.207317,0.0,0.149254,0.370968,1,1,1,1,...,b,b,e,w,a,c,b,g,a,a
4,0.038120,0.315789,0.219512,0.0,0.074627,0.177419,1,1,1,1,...,a,a,e,b,b,d,b,e,b,a

In [42]:
from sklearn import dummy
whc=pd.get_dummies(whc)

In [43]:
whc.head()

,n_0002,n_0005,n_0012,n_0019,n_0034,n_0038,n_0047,n_0050,n_0052,n_0061,...,c_1361_c,c_1361_d,c_1361_e,c_1361_f,c_1361_g,c_1361_h,c_1363_a,c_1363_b,c_1372_a,c_1372_b
0,0.025449,0.368421,0.292683,0.0,0.223881,0.193548,1,1,1,1,...,0,0,1,0,0,0,0,1,1,0
1,0.031297,0.315789,0.243902,0.0,0.104478,0.177419,1,1,1,1,...,0,0,1,0,0,0,0,1,1,0
2,0.024475,0.342105,0.304878,0.0,0.119403,0.290323,1,1,1,1,...,1,0,0,0,0,0,1,0,1,0
3,0.041694,0.447368,0.207317,0.0,0.149254,0.370968,1,1,1,1,...,0,0,0,0,1,0,1,0,1,0
4,0.038120,0.315789,0.219512,0.0,0.074627,0.177419,1,1,1,1,...,0,0,1,0,0,0,0,1,1,0

In [159]:

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [160]:
x=whc
y=pd.read_csv('F:\\capstone project\\New folder\\train labels.csv')

In [166]:
del whc

In [161]:
x_train,x_test, y_train, y_test = train_test_split(x,y,test_size=0.30,random_state=69)

In [168]:
clf = RandomForestClassifier(n_estimators=100, max_depth=2,random_state=0)

In [169]:
del x,y

In [170]:
clf.fit(x_train, y_train)  
RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=2, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=None,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=2, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=None,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

In [173]:
preds = clf.predict_(x_test)

In [179]:
pd.DataFrame(preds)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,1289.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
1,10780.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
2,4288.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
3,7925.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
4,3850.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
5,2321.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
6,1993.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
7,12994.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
8,5798.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
9,2321.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
10,7763.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
11,10780.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
12,14942.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
13,12994.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
14,12994.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
15,13739.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
16,2267.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
17,165.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
18,2989.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
19,3816.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
20,15812.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
21,2319.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
22,13469.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
23,7605.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
24,16905.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
25,10780.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
26,14822.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
27,3891.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
28,12994.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
29,610.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4364,12452.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
4365,8058.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
4366,7605.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
4367,9999.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
4368,2267.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
4369,13200.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
4370,13663.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
4371,15383.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
4372,16765.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
4373,9999.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
4374,6221.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
4375,3126.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
4376,7605.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
4377,8091.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
4378,5653.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
4379,2267.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
4380,11127.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
4381,15161.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
4382,2267.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
4383,14472.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
4384,1151.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
4385,3850.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
4386,364.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
4387,7605.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
4388,11607.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
4389,10780.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
4390,13663.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
4391,13561.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
4392,3247.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
4393,14899.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0